* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(#016801, #009c00, #016801);
    background-attachment: fixed;
    color: white;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

article {
    width: auto;
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    line-height: 1.5;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    margin-top: -40px
}

input[type="button"] {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px 0;
    font-size: 20px;
    width: 50%;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

img {
    width: 70%;
    border-radius: 50px;
    margin-bottom: 0;
}

/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, #0a6bbb, #ca6c0e);
    background-attachment: fixed;
    color: white;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

article {
    width: 90%;
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 50px;
    background-color: white;
    line-height: 1.5;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    margin-top: -70px
}

button,
.cadastro,
.login,
a {
    background-color: #000000;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
    cursor: pointer;
    margin: 15px 0;
    font-size: 25px;
    width: 50%;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

img {
    width: 100%;
    border-radius: 50px;
    margin-bottom: -30px;
}
*/

form {
    display: flex;
    flex-direction: column;
    width: 85%;
    text-decoration: none;
}

/* os inputs estavam fora da proporção do form... 
.formulario-login {
    color: black;
    margin-bottom: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
*/

.formulario-login {
    color: black;
    margin-bottom: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: calc(100% - 20px);
    padding: 5px;
    margin: 10px 10px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 5px;
}

/* A virgula colocada antes do segundo seletor faz com que ambos os seletores recebam o mesmo estilo */
input[type="submit"],
a {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 50%;
    margin: 10px auto;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}